#songPlayPause {
    bottom: 1vh;
    right: 0;

    height: 10em;
    width: 10em;

    transition: ease-in-out 0.25s;

    background: url(../img/play.svg);
    background-size: contain;

    position: fixed;
    z-index: 20;
    margin: 2em;
}


@media (min-width:450px) { 

    #songPlayPause {
        bottom: 3vh;
        right: 1em;
        height: 15em;
        width: 15em;
    }
    
}

@media (min-width: 768px) {
    #songPlayPause {
        bottom: 3vh;
        right: 1em;
        margin: 0 6em 4em 0;
    }
    
}