#myModal{
	overflow: hidden;
}
hr{
    margin-bottom: -20px;
    margin-top: 20px;
	width:96%;
	color:#00ff3b;
	border-color:#00ff3b;
	 border: 0;
  border-top: 1px solid #00ff3b;
  border-bottom: 1px solid #fff;
  margin-left:1%;
	}
.credits{
	font-size: 12px;
	line-height:18px;
}
.highlighted_words{
	color: #00ff3b;
}
.popuplink{
	text-underline-position: under;
	text-underline-offset: 3px;
	color:black;
	text-decoration-color: #00ff3b;
}
.modal2::-webkit-scrollbar {
	width: 12px;               /* width of the entire scrollbar */
}
.modal2::-webkit-scrollbar-track {
	background: white;        /* color of the tracking area */
}
.modal2::-webkit-scrollbar-thumb {
	background-color: black;    
	border-radius: 20px;       
	border: 3px solid black;  
}

.popup2_text{
	position: absolute;
	top: 0;
	font-size: 18px;;
	white-space: pre-wrap;
	left: 4%;
	line-height: 26px;
	}
	.modal {
	display: none; /* Hidden by default */
	position: absolute; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 35vw;
	top: 5vh;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: hidden;
	}
#close_button{
	position: absolute;
	right:0;
	z-index: 999;
	color:black;
	width:5%;
	height:auto;
	padding-top:1%;
	padding-right:1%;
}
.modal2 {
	scrollbar-width: thin;
	font-family: Arial, Helvetica, sans-serif;
	position: absolute; /* Stay in place */
	left: 29vw;
	top: 10vh;
	width: 34%; /* Full width */
	height: 550px; /* Full height */
	overflow: scroll; /* Enable scroll if needed */
	background:white;
	scrollbar-color: black white;
	overflow-x: hidden;
	}
	

	/* Modal Content/Box */
.modal-content {
	position: absolute;
	background-image: url('../img/plakat.png');
	background-repeat: no-repeat;
	width: 460px;
	height:inherit;
	}

	/* The Close Button */
	.close {
	position: absolute;
	right: 4%;
	top:1%;
	color: #aaa;
	font-weight: bold;
	}

.close:hover,
.close:focus {
	text-decoration: none;
	cursor: pointer;
	}
	
.close_2:hover,
.close_2:focus {
	text-decoration: none;
	cursor: pointer;
	}
	
	
@media only screen and (max-device-width: 480px) {
	.modal{
	z-index:10;
	left:0;
	}
	
.modal2{
z-index:5;
left:0;
width:100%;
font-size:1.8em;
height:60%;
}
.modal-content {
    position: absolute;
    background-image: url('../img/plakat.png');
    background-repeat: no-repeat;
    width: 70%;
    height: inherit;
    background-size: contain;
	top: 3%;
    left: 15%;

}
.close{
	position: absolute;
	right: -8%;
	top:1%;
	color: #aaa;
	font-weight: bold;
	width: 20%;
	}


.close_2{
position: absolute; 
right:0;
color:black;
width:5%; 
height:auto

}

#close_button{
right:1vw;
top:1vw;
}
.popup2_text{
	//width: 90%;
    font-size: 16px;
	 white-space: pre-line;
}
	}