


div.menuWrap{
    /* width: 100vw; */
    margin: auto;
    position: relative;
    font-family: Cadiz;
    display: flex;   
    border-top: solid .5em #3b414d;
    border-left: solid .5em #3b414d;
    border-right: solid .5em #3b414d;
    min-height: 10vh;
    width: 100%;
    /* width: 90%; */
    /* overflow: scroll; */
}
div.menu{
    /* display: flex; */
    /* position: relative; */
    width: 100%;
    border-left: solid 3em #3b414d;
}
div.submenu{
    position: relative;
    display: flex;
    /* justify-content: venly; */
    top: 1em;
    /* margin: 1em; */
}   

div#date{
    align-self: flex-end;
    padding-right: 1em;
    color: #3b414d
}

span#xKanal{
    position: absolute;
    left: 50%;
    top: 3em;
    /* flex: 1; */
    /* text-align: center;
    align-self: center;
    font-size: 26px; */
    color: #e31dd4;
    cursor: pointer;
}

div#xKanal:active{
    font-size: 26px;
    color: #8ee7a5;
    cursor: pointer;
}
/* 
div.xActive{
    color: #8ee7a5;
}
div.xActive::after{
    color: #e31dd4;
    content: 'Kanal'
} */

/** 
*   MARQUEE
*/

div#wrap_marq{
    width: 100%;
}

div#marquee {
    grid-area: marq;
    min-width: 100%;
    height: 26px;
    overflow: hidden;

    letter-spacing: 0.1;
    font-family: AkzidGrtsk;
    /* overflow: hidden; */
    /* grid-area: marq; */
    /* position: relative; */
    /* word-spacing: 0.1em; */
    font-size: 26px;
    /* line-height: 1.5em; */
    white-space: nowrap;
    /* text-transform: uppercase; */
}

#marquee p#info_side_text {
    position: absolute;
    overflow: hidden;
    color: #3b414d;
    animation: marquee 25s linear infinite;
}

.dot{
    height: 15px;
    width: 15px;
    background-color: #3b414d;
    border-radius: 50%;
    display: inline-block;
}


@keyframes marquee {
    0% {
        left: 0;
    }
    
    100% {
        left: -50%;
    }
}

div#info_mob{
    display: block;
}



@media (max-width:885px) {
    
    
    div#marquee {
        height: 16px;
    }
    div.menu{
        border-left: none;
    } 
    div.submenu{
        top: 0;
    } 
}