div#menu{
    top: 0em;
    /* background-color: peachpuff; */
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    width: 100%;
    /* height: 7em; */
    position: absolute;

}

div#gui{
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

.translateIn{
    transform: translateX(-100%);
}

.translateIn{
    transform: translateX(-100%);
}

.turnaround{
    transform: rotate(-180deg);
}
.turnHalfAround{
    transform: rotate(-90deg);
}

.translateUp{
    transform: translateY(-100%);
}

.translateDown{
    transform: translateY(+100%);
}

.invisibleOff{
    opacity: 1;
    transition: all 1s;
}


#menuBG{
    font-family: Cadiz;
    transition: ease-out 1s;
    /* transition: ease-in-out 0.5s; */
   
    /* transition: ease-in 1s; */

    z-index: 5;
    position: absolute;
    top: -7.7em;
    /* opacity: 0; */
    /* top: 0; */
    width: 100%;
    height: 7.7em;
    border: solid .35em #000a06;
    /* border-bottom: none; */
    background-color: #e1ec03;
}

#ttButton:hover{
    cursor: pointer;
}
#impButton:hover{
    cursor: pointer;
}

.hello{
    opacity: 1;
}

.setborderleft{
    /* border-left: black solid 4px; */
    margin-right: 1em;
    transition: fadein 11s;
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}


.opacityfull{
    opacity: 0;
    opacity: 1;
}

#impButton{
    position: absolute;
    font-family: Cadiz;
    transition: ease-in-out 1s;
    color: #000;
    /* background-color: plum; */
    z-index: 10;
    /* position: relative; */
    /* bottom: 10em;
    right: 1em; */
    font-size: 16px;
    width: 5em;
    height: 3em;
    margin-left: 0.5em;
    /* font-weight: bolder; */
    color: #e1ec03;
    color: #000;
    bottom: 0em;
    right: 1em;
    /* background-image: url('../img/arrow.svg'); */
}
/* #impButton::after{
    content: 'Impressum';
    position: absolute;
    top: 0.2em;
    
} */

div#ttButton{
    z-index: 10;
    font-family: Cadiz;
    transition: ease-in-out 1s;
    position: relative;
    /* padding: 0.5em; */
    text-align: center;
    color: #000;
}
div#ttButton p{
    padding: 0.2em;
    background-color: #e1ec03;
    font-size: 44px;
}

/* @media (min-width: 200px) {
    div#ttButton p{
        padding: 0.2em;
        background-color: #e1ec03;
        font-size: 26px;
    }
} */

@media (min-width: 885px) {
    /*     
    #impButton{
        flex
        
    }
    div#ttButton{
        -ms-flex-align: end;
        
    } */
   
    

    div#gui{
        display: flex;
        justify-content: flex-end;
        flex: 1;
    }

    div#menu{
        justify-content: space-between;
    }

    #menuBG{
        top: -10em;
        border: none;
        right: 15em;
        /* border-bottom: none; */
        background-color: unset;
        text-align: center;
    }

}
