* {
    margin: 0;
    padding: 0;
    
    letter-spacing: 0.05em;
    box-sizing: border-box;
}
@font-face {
    font-family: Cadiz;
    src: url("../font/Cadiz-Regular.otf");
}
/* C:\Users\l\Documents\WEB\GIT_webpage_Hallo\halloradio.github.io\font\cadiz-regular-webfont.woff */

::-webkit-scrollbar {
    display: none;
}

body{
    background-image: #000;
    /* font-size: 16px; */
    height: 100vh;
    /* overflow: hidden; */
    position: fixed;
}


@media (max-width: 767px) {

    .sommerpause h1{
        font-size: 36px;
    }

    #myVideo {
        display: none;
    }
    div#ofWrapper {
        width: 100vw;
        height: 100vh;
        background: url('../img/still.PNG');
        background-size: cover;
    }
}