* {
    margin: 0;
    padding: 0;
    
    letter-spacing: 0.05em;
    box-sizing: border-box;
}
div#ofWrapper{
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

body{
    background-color: #000;
    /* font-size: 16px; */
    overflow: hidden;
}

h1.festspiele{
   color: #bf038b; 
}

@font-face {
    font-family: AkzidGrtsk;
    src: url("../font/AkzidGrtskProReg_0.otf");
}
@font-face {
    font-family: Keroine-DouxExtreme;
    src: url("../font/Keroine-DouxExtreme.otf");
}
/* fe4728 */


/* div#wrapper {
    position: absolute;
    width: 100vw;
    height: 100vh;
 

    background-repeat: no-repeat;

    
} */


@media (max-width:760px) { 
    #songPlayPause {
        overflow: hidden;
        
    }
}
 

