/* body::-webkit-scrollbar {
        display: none;
}
body{
    -ms-overflow-style: none;  /* IE and Edge */

    /* scrollbar-width: none;  Firefox */
/* } */

@font-face {
    font-family: Cadiz;
    src: url("../font/Cadiz-Regular.otf");
}

a.pp_link{
    text-decoration: none;
    color: black;
}
a:hover {
    cursor: pointer;
    color: #FD6152;
  }

div#tt{
   
    margin: auto;
    position: relative;
    font-family: Cadiz;
    display: grid;
    grid-template-columns: auto 3em 9fr;
    /* grid-template-rows: auto 4em 9fr; */
    /* grid-template-columns: 180px 200px auto 40px; */
    grid-template-areas:
            'playpause lwrap wrap_marquee'
            'playpause l_thu thu' 
            'playpause l_fri fri'
            'playpause l_sat sat'
            'imp l_sun sun'
            ;
            /* grid-template-rows: 100px 300px; */
    border: solid .5em #3b414d;
    min-height: 100vh;
    
    /* width: 90%; */
    /* overflow: scroll; */
}

div#btnImp{
    font-family: Cadiz;
    font-size: 36px;
   background-color: lightcoral;
    grid-area: imp;
}
.impI{
	position: absolute;
	left: 0.75em;
	bottom: 0;
}

div.weekday{
    display: flex;
    background-color: #3b414d;
    
}

div#lwrap{
    grid-area: lwrap;
}

div#label_thu{
    grid-area: l_thu;
}
div#label_fri{
    grid-area: l_fri;
}
div#label_sat{
    grid-area: l_sat;
}
div#label_sun{
    grid-area: l_sun;
}

div#wrap_marq{
    position: relative;
    overflow: hidden;
}


div#marquee {
    letter-spacing: 0.1;
    font-family: AkzidGrtsk;
    overflow: hidden;
    /* grid-area: marq; */
    /* position: relative; */
    /* word-spacing: 0.1em; */
    font-size: 26px;
    /* line-height: 1.5em; */
    white-space: nowrap;
    /* text-transform: uppercase; */
}

#marquee p#info_side_text {
    position: absolute;
    overflow: hidden;
    color: #3b414d;
    animation: marquee 25s linear infinite;
}

.dot{
    height: 15px;
    width: 15px;
    background-color: #3b414d;
    border-radius: 50%;
    display: inline-block;
}


@keyframes marquee {
    0% {
        left: 0;
    }
    
    100% {
        left: -50%;
    }
}

div#info_mob{
    display: none;
}

div#date{
    /* display: inline-block; */
    /* text-align: end; */
    /* font-size: xx-large; */
    /* border-left: solid 1.7em #3b414d; */
    /* border: solid 4px #3b414d; */
    border-bottom: none;
    grid-area: date;
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 0.5em;
        padding-top: 1em;
        padding-bottom: 0.2em;

        text-align: end;
        color: #3b414d;
}


div#thu{
    grid-area: thu;
    border-bottom: none;
    /* border-right: 4px; */
}

div#fri{
    grid-area: fri;
}

div#sat{
    list-style-type: none;
    grid-area: sat;
    display: inline-block;
}

div#sun{
    display: inline-block;
    grid-area: sun;
    height: fit-content;
}

li{
    list-style: none;
}

span.tt_span::after{
    content: '';
    display: inline-block;
    height: 1em;
    width: 4em;
    background-image: url("../img/wave.png");
    background-size: 4em;
    background-repeat: no-repeat;
}

div.days{
    /* position: relative; */
    font-size: 24px;
    padding: 1em;
    font-size: large;
    border-top: solid 0.35em #3b414d;
    /* border-left: solid 3em #3b414d; */
    list-style-type: none;
    /* overflow: hidden; */
}

div.weekday h1{
    font-size: 24px;
    writing-mode: vertical-rl;
    text-align: center;
    text-orientation: mixed;
    color: #cbcbcb;

}
div.weekday {
    align-items: center;
    justify-content: center;
}

/* Pictures */
img.wave{
    width: 4em;
}


@media (max-width:885px) { 
    h1{
        font-size: 20px;   
       }
    
    div#lwrap{
        display: none;
    }

    div.days{
        font-size: 16px;
        padding: 0.5em;
        /* font-size: large; */
        font-weight: normal;
        /* border-top: none; */
        border-left: none;
        /* border-right: 1em; */
        list-style-type: none;
        /* overflow: scroll; */
        border-top: 0;
    }

    div#btnImp{
        display: none;
    }

    
    div#tt{
        grid-template-columns: 1fr;
        grid-template-rows: 5em 2.5em 1fr 2.5em 1fr 2.5em 1fr 2.5em 1fr minmax(5em,15em);
        /* grid-template-rows: auto; */
        /* grid-template-columns: 180px 200px auto 40px; */
        grid-template-areas:
                'wrap_marquee'
                'l_thu'
                'thu'
                'l_fri'
                'fri'
                'l_sat'
                'sat'
                'l_sun'
                'sun'
                'playpause'
                ;
                /* grid-template-rows: 100px 300px; */
        /* border: 0;
        border: solid 1em #3b414d;
        border-right: solid 1em #3b414d; */
        /* height: 97vh; */
        width: 100vw;
        /* height: calc(100%-5em); */
        margin: auto;
        overflow: scroll;
    }

    div.weekday h1{
        writing-mode: initial;
        text-align: left;
        color: #3b414d;
    }
    div.weekday {
        padding: 1.4em 0.5em;
        border-top: solid 0.35em #3b414d;
        background-color: initial;
        justify-content: flex-start;
    }

    div#wrap_marq{
        height: 5em;
        position: relative;
        border-left: 0;
    }
    div#marquee{
        /* position: ; */
        bottom: 0;
        /* height: 10em; */
    }
    div#info_mob{
        display: block;
        position: relative;
        top: 0;
        left: 0;
        color: #cbcbcb;
        text-align: start;
        width: 80vw;
        height: auto;
    }
}